<style>
body {
  background-image: url(https://i.guim.co.uk/img/media/583c00e2b3a82e0c1b5d39c963ba902c07572e4b/0_374_5616_3370/master/5616.jpg?width=1920&quality=85&auto=format&fit=max&s=29b7b76d56737590f2380c7c85651572);
  background-repeat: no-repeat;
  background-size: 1200px 900px;
}
</style>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE' />
      <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
      <input type="submit" value="Edit" />
    </form>
    </li>
  <% end %>
</ul>